
</div>
<div class="footer-padding">
  <div class="footer">
    <h4 style="color: white;"><img class="incoimg" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0MrkNXXB4nHvvUNV-RJquqD0-3J6qrTD_Uw&usqp=CAU" alt=""> Anonymous blogs</h4>
  </div>
</div>
</body>
</html>
