<%- include('partials/header.ejs'); %>
    <h1 style="font-family: 'Merriweather', serif;">Contact</h1>
    <p><%= contact %></p>
      <a   href="http://www.linkedin.com/in/ankush-goel-822733211" ><img src="https://yt3.ggpht.com/ytc/AKedOLQUW9FJ6oz2WOkfU_2SbFanfDvOXrYVfE4SuaDyrz0=s900-c-k-c0x00ffffff-no-rj" alt="Linkedin" class="lowa"></a>
      <a class="lowa" href="https://github.com/AnkushGoel251"><img src="https://miro.medium.com/max/719/0*kHdpA0lO-qQVbaXq.png" alt="Github" class="lowr"></a>
      <a class="lowa" href="mailto:ankushgoel253@gmail.com"><img src="https://storage.googleapis.com/gweb-uniblog-publish-prod/images/Gmail.max-1100x1100.png" alt="Gmail" class="lowr"></a>
      
      <%- include('partials/footer.ejs'); %>