.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}
h1{
    font-size: xx-large;
}
.background{
    width: 100%;
    
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-image: url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YmxvZyUyMGJhY2tncm91bmR8ZW58MHx8MHx8&w=1000&q=80");
}
.home{
    font-size: large;
}


.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}
.navbar-nav  li a:hover {
    color: #1abc9c !important;
}

.footer-padding {
	padding-bottom: 60px;
}

.footerh {
	position: relative;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: black;
}
.footer {
	position: absolute;
	text-align: center;
	bottom: 0;
	width: 100%;
	height: 50px;
	background-color: black;
}

.footer p {
	margin-top: 25px;
	font-size: 12px;
  color: #fff;
}
.lowa{
    height: 180px;
    width: 180px;
    margin-left: 80px;
}

.lowr{
    height: 160px;
    width: 180px;
}

.incoimg{
    height: 40px;
}